#main {
	padding-bottom: 80px;
}

.col-sm {
	padding-top: 20px;
}

#preview {
  text-align: center;
}

#preview img {
	/*border: 1px solid #222;*/
	border-radius: 5px;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.54);
}

#preview.error {
	color:red;
}

.form button {
	margin-right:5px;
}

.form-group.hidden {
	display:none;
}

#loader {
  text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}